
@font-face {
	font-family: MathJax;
	src: url("../fonts/CommonHTML/TeX/otf/MathJax_Main-Regular.otf");
}

@font-face {
	font-family: MathJaxBold;
	src: url("../fonts/CommonHTML/TeX/otf/MathJax_Main-Bold.otf");
}

* {
  box-sizing: border-box;
}

body, div, footer, section, h4, img {
	
	margin: 0;
	padding: 0;
}

body {
  font-family: "MathJax", sans-serif;
  font-weight: 100;
  font-size: 16px;
  margin: 0 auto;

}

img {
	display: inline-block;
	padding-top: 10px;
	
}

.calc--buttons-row {
	display: flex;
	width: 100%;
	
}

sup, i {
	pointer-events: none;
}

footer {
	
	
	margin-top: 1px;
	
	 
	clear: both;
}

h4 {
	
	color: #a8a6a6;
	font-family: "Rubik", sans-serif;
		
	text-align: left;
	
	font-size: 0.8em;
	font-weight: 100;
}

a:link {
	text-decoration: none;
}

a:hover {
	border-bottom: 1px dotted;
}

.text--emphasis, a:link, a:visited {
	font-weight: 200;
	color: rgb(62,111,252);
}

button {
   
  height: 48px;
  width: 58px;
  
  margin: 1px;
  padding: 0;
  
  background-color: white;
  border: 1px solid #aeaeae;
  
  font-family: "Rubik", sans-serif;
  
  font-size: 1.1em;
  text-align: center;
  font-weight: 200;
  
  transition: all 200ms ease-in;
}

.placeholder {
	visibility: hidden;
}

button:focus {
  outline: 0;
}

button:active {
  background-color: black;
  color:firebrick;
}

button:hover {
  cursor: pointer;
  background-color: lightgrey;
}

.button--keypad, #button--ce, #button--ac {
	background-color:#e6e6e6;
	
}

.container {
	
 
  overflow:hidden;
  width: 320px;
 
  height: 487px;
 
  margin: 15px auto;
 }


.calc--body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
  border: 1px solid #dfdfdf;
  border-radius: 0 0 10px 0;
  


  
  background-color: #fcfcfc;
  
  padding: 10px 12px 15px 12px;
  margin: 0;
}

.calc--screen {
 
  word-wrap: break-word;
  
  clear:both;
    
  width: 300px;
  height: 140px;
  
  margin: 5px 0;
  
  background-color: white;
  color: black;
  
  border: 1px solid #dfdfdf;
  
  font-family: MathJax; 
  font-size: 1.2em;
  font-weight: 100;
  text-align: right;
  line-height: 1;
  
  padding: 5px 5px;
}

#calc--history {
	
	overflow-y: hidden;
	overflow-x: auto;
	
	width: 288px;
	height: 50px;
	
	margin: 0;
	padding: 4px 4px;
	
	text-align: right;
	
	font-family: MathJax, serif; 
	font-size: 1em;
	font-weight: 100;
	text-align: right;
	line-height: 1;	
	
	border: 1px solid #aeaeae;
	color: black;
	background-color:#e6e6e6;
}

#calc--total-output {
	
	overflow-y: hidden;
	
	overflow-x: auto;
	
	white-space: nowrap;
	
	font-size: 1.8em;
	margin-top: 5px;
}

#calc--output {
	
	display: inline-block;
	overflow-x: visible;
	
	
	margin: 0;
	padding: 0;
	
	height: 70px;
}

#calc-history--data {
	overflow: visible;
}

#calc--output span:focus, #calc-history--data span:focus {
	outline:0; /* for mathjax display */
}
#button--equals {
  background-color: rgb(62,111,252);
  color: white;
  font-weight: 200;
  font-size: 1.5em;
  width: 118px;
 }

#calc--parens {
	
	margin: 0;
	padding: 0;
	
	overflow-y: auto;
	color: #bbb9b9;
	
}

.calc-about--body {
	
	display: none;
	opacity: 0;
	
	font-size: 0.78em;
	
	width: 96.3%;
	text-align: center;
	height: 50%;
	margin: 5px 0 0 0;
	
	
	transition: opacity 500ms ease-in;
}


.container, .container--col-fluid, .calc--body, #calc--buttons {
	
	font-family: "Rubik", sans-serif;
}

#calc--buttons {
	display: flex;
	flex-wrap: wrap;
	width: 300px
}

.calc--body {
	height: 100%;
}
#button--ce:hover, #button--ac:hover {
	background-color: rgba(255, 0, 0, 0.7);
	transition: background-color 500ms ease-in;
}

#calc--prerender, #calc--history-prerender {
	position: absolute;
	visibility: hidden;
}

.visible {
	display: block;
	opacity: 1;
	
}

.hidden {
	
	visibility: hidden;
}

/* breakpoints */

/* below iPhone 6 */	
/*
@media (max-width: 370px) {
	body {
		zoom: 100%;
	}
	
	.container {
		margin: 0 auto;
	}
}


@media (max-width: 414px) and (min-width: 370px) {
	body {
		zoom: 115%;
	}
	
	.container {
		margin: 0 auto;
	}
}

@media (max-width: 639px) and (min-width: 414px) {
	body {
		zoom: 115%;
	}
	
	.container {
		margin: 8px auto;
	}
}

@media (max-width: 768px) and (min-width: 639px) {
	body {
		zoom: 130%;
	}
	
	.container {
		margin: 0 auto;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	body {
		zoom: 175%;
	}
	
	.container {
		margin: 15px auto;
	}
}
*/





